div#messageView{
    float:left;
    width: 83%;
    height: 95%;
}

li {
    padding: 2% 0% 2% 0%;
}

ul {
    list-style-type: none;
    text-align: left;
    width: 100%;
    padding-inline-start: 1%;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

div#userViewBody {
    text-align: center;
    width: 100%;
    height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
}

div#messages{
    width: 100%;
    height: 85%;
    border:1px solid black;
    overflow: auto;
}

div#messagesPostControl{
    width:100%;
    height: 13%;
    margin-top: 1%;
    margin-bottom: 1%;
    border:1px solid black;
}

div#messagesPostControl1{
    height: 100%;
    width: 100%;
}

textarea#message{
    height: 100%;
    width: 100%;
    resize: none;
    align-content: flex-start;
}

div#messagesPostControl2{
    height: 100%;
    width: 10%;
    margin-top: 8px;
}

div#userView{
    float:left;
    width: 13%;
    height: 95%;
    border:1px solid black;
    padding: 1% 1% 1% 1%;
    margin-left: 1%;
}

div#userViewHeader{
    text-align: center;
    width: 100%;
    height: 5%;
}

button#postBtn{
    margin-top: 3px;
}